body {
  margin: 0;
  padding: 0;
  background-color: #ffe6f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock {
  width: 90vw;
  height: 90vw;
  max-width: 300px;
  max-height: 300px;
}
